<h2>Listado peridos</h2>
<a routerLink="/Periodos/new"
  class="btn btn-sm btn-primary mb-2"
  ><i class="bi bi-plus-circle-fill"></i> Agregar nuevo
</a>

<table class="table table-bordered table-sm table-striped">
  <colgroup>
    <col [width]="'30%'">
    <col [width]="'25%'">
    <col [width]="'25%'">
    <col [width]="'20%'">
  </colgroup>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.nombre}}</td>
      <td>{{item.finicio}}</td>
      <td>{{item.ffin}}</td>
      <td>
        <a [routerLink]="['/Periodos/edit', item.idPeriodo]" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Editar</a>
        <button (click)="deleteItem(item.idPeriodo)" class="btn btn-sm btn-danger ms-2"><i class="bi bi-trash"></i> Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/">Volver al inicio</a>