<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm px-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cuaderno del Profe</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Asistencia/List" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Asistencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Calificaciones/List" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Calificaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Estudiantes/List" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Estudiantes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Materias/List" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Materias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Periodos/List" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Periodos</a>
        </li>
    </ul>
    <div class="ms-auto dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{userName}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/cambiar-clave">Cambiar contraseña</a></li>
            <li><a class="dropdown-item text-danger" routerLink="/Auth/Login" (click)="logout()">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="card" *ngIf="router.url !== '/'">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="router.url == '/'" class="text-center mt-4">
        <h1 class="text-primary">Bienvenido al cuaderno del profe</h1>
    </div>
</div>