<h2>Listado materias</h2>
<a routerLink="/Materias/new"
  class="btn btn-sm btn-primary mb-2"
  >Agregar nueva
</a>

<table class="table table-bordered table-sm table-striped">
  <colgroup>
    <col [width]="'40%'">
    <col [width]="'40%'">
    <col [width]="'20%'">
  </colgroup>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.nombre}}</td>
      <td>{{item.descripcion}}</td>
      <td>
        <a [routerLink]="['/Materias/edit', item.idMateria]" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Editar</a>
        <button (click)="deleteItem(item.idMateria)" class="btn btn-sm btn-danger ms-2"><i class="bi bi-trash"></i> Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/">Volver al inicio</a>